* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #fff9ea;
}

section {
  padding: 28px 8%;
}

/* HEADER */
header {
  width: 100%;
  padding: 28px 8%;
}

#navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-logo {
  font-size: 1.5rem;
  color: #e9a209;
}

#nav-list {
  display: flex;
  list-style: none;
  gap: 3rem;
}

.nav-item a {
  text-decoration: none;
  color: #1d1d1dad;
  font-weight: 600;
}

.nav-item.active a {
  color: #1d1d1d;
  border-bottom: 3px solid #ffe100;
}

/* HEADER - MOBILE MENU */
#mobile-btn, #mobile-menu {
  display: none;
}

/* MAIN */
#home {
  display: flex;
  min-height: calc(100vh - 96px);
  position: relative;
}

#hero {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-top: 5%;
}

#hero .title {
  font-size: 4rem;
  color: #1d1d1d;
}

#hero .title span {
  color: #e9a209;
}

#hero .description {
  font-size: 1.2rem;
  text-align: justify;
}

#hero-buttons {
  display: flex;
  gap: 24px;
}

#hero-buttons a {
  text-decoration: none;
  color: #1d1d1d;
}

#phone-btn {
  display: flex;
  gap: 8px;
  align-items: center;
  background-color: #ffffff;
  padding: 8px 14px;
  font-weight: 500;
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

#banner {
  display: flex;
  align-items: start;
  justify-content: end;
  width: 70%;

  z-index: 2;
}

#banner img {
  height: 100%;
  width: fit-content;
}

.shape {
  background-color: #ffe8b4;
  width: 50%;
  height: 100%;

  position: absolute;
  border-radius: 40% 30% 0% 20%;
  top: 0;
  right: 0;
  z-index: 1;
}


/* UTILITY CLASSES */
.btn-default {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffcb45;
  border-radius: 12px;
  padding: 10px 14px;
  font-weight: 600;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;

  transition: background-color 0.3s ease;
}

.btn-default:hover {
  background-color: #f8d477;
}

.social-media-btn {
  display: flex;
  gap: 18px;
}

.social-media-btn a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 40px;
  background-color: #ffffff;
  font-size: 1.25rem;
  border-radius: 10px;
  text-decoration: none;
  color: #1d1d1d;
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);

  transition: box-shadow 0.3s ease;
}

.social-media-btn a:hover {
  box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1);
}